@import "tailwindcss";

@theme {
  --color-bg-base: #111827;
  --color-bg-surface: #1F2937;
  --color-bg-raised: #374151;
  --color-border-main: #374151;
  --color-border-light: #4B5563;
  --color-text-primary: #F9FAFB;
  --color-text-secondary: #9CA3AF;
  --color-text-muted: #6B7280;
  --color-blue-brand: #2563EB;
  --color-blue-light: #3B82F6;
  --color-purple-brand: #7C3AED;
  --color-purple-light: #8B5CF6;
}